* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #888888;
    padding: 3px;
    width: 100%;
}

#messages {
    margin: 0;
    padding: 0;
}

#messages li {
    list-style-type: none;
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.container {
    overflow: auto;
}

.layout {
    display: flex;
}

.fit {
    flex: 1;
}

.full {
    flex: 0 0 100%;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}